.skill_list {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: baseline;
	align-items: center;
	flex-wrap: nowrap;
	overflow-x: scroll;
	padding: 4% 0px;

	.skills {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		flex-direction: row;
		position: relative;
		left: 0;
	}
}

//Scrollbar Width
.skill_list::-webkit-scrollbar {
	height: 5px;
}

//Scrollbar Track
.skill_list::-webkit-scrollbar-track {
	background: #f1f1f100;
}

//Scrollbar Handle
.skill_list::-webkit-scrollbar-thumb {
	background: #ff5d5d;
}

//Scrollbar Hover
.skill_list::-webkit-scrollbar-thumb:hover {
	background: #d44848;
}
